.navbar {
    background-color: #000000;
}

.link {
    color: #ffffff;
    padding: 15px;
    transition: 0.3s;
}

.logo {
    color: #ffffff;
    padding: 10px;
    transition: 0.3s;
    font-family: 'Fasthand', cursive;
    font-size: 30px;
}

.link:hover {
    color: rgb(153, 75, 255);
    transition: 0.5s all;
}

.logo:hover {
    color: rgb(153, 75, 255);
    transition: 0.5s all;
}